$white: #fff;
$dark: #000;
$dark-alpha-05: hsla(0, 0%, 0%, 0.1);
$dark-2: #707070;
$dark-3: #222222;
$theme-color: #D0011C;
$secondary-color: #914C9D;
$alter-color: #F57F20;

$theme-dark: #4B0000;
$alter-dark: #FCD017;


$text-color: #444444;
$text-alter : #3c3c3c;
$text-light: #999999;
$text-light-2: #707070;
$light: #bcbcbc;
$ip-bg: #ededed;
$border-clr: #c6c6c6;
$light-bg: #f9f9f9;

$placeholder-color: #473830;

$active-color: #5db75d;
$danger-color: #EF3F35;

$border-theme: #ced4da;

$dark-3-alpha: rgba(34, 34, 34, 0.12);
$white-alpha: rgba(255, 255, 255, 0.8);